

.add_title{
    font-size: 24px;
    font-weight: 500;
    color:var(--body_hight_green);
    margin-bottom: 18px;
}

.add_info{
    color: var(--body_lightgrey);
    font-size: 1em;
    font-style:oblique
}
