#main{
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px auto 40px
}

#main2{
    width:72%;
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px;
    /* align-items: center; */
}
